<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="provider" value="System.Data.SqlCliente"/>
    <add key="connectionString" value="Data Source=LAPTOP-J0ML2P5P;Initial Catalog=venta-celulares;Integrated Security=True;Pooling=False"/>
  </appSettings>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>